// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'application';

.login_box{
	background-color:rgba(black, 0.6);
	border-radius:10px; padding:20px 10px;
	a{color:white;}
}

@media only screen and (max-width: 480px) {

}